<div fxLayout="row wrap " fxFlexAlign="center">
  <!-- Numeric Stat Cards -->
  <div fxFlex="100%" fxFlex.sm="100%" *ngIf="this.data?.requests">
    <mat-card class="stat-card">
      <h2>Open Tickets</h2>
      <p>{{ openTicketsCount }}</p>
    </mat-card>

    <mat-card class="stat-card">
      <h2>Unassigned Tickets</h2>
      <p>{{ unassignedTicketsCount }}</p>
    </mat-card>

    <mat-card class="stat-card">
      <h2>High Priority Open Tickets</h2>
      <p>{{ highPriorityOpenTicketsCount }}</p>
    </mat-card>

    <mat-card class="stat-card">
      <h2>Open Change Requests</h2>
      <p>{{ openChangeRequestsCount }}</p>
    </mat-card>
  </div>
</div>
<!-- Table -->

<table mat-table [dataSource]="dataSource" matSort>
  <!-- Support Rep Column -->
  <ng-container matColumnDef="supportRep">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Support Rep</th>
    <td mat-cell *matCellDef="let element">{{ element.rep }}</td>
  </ng-container>

  <!-- Open Tickets Column -->
  <ng-container matColumnDef="openTickets">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Open Tickets</th>
    <td mat-cell *matCellDef="let element">{{ element.openTickets }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Chart -->
<mat-card style="width: 100%">
  <mat-card-content>
    <canvasjs-chart
      [options]="chartOptions"
      [styles]="{ width: '100%', height: '360px' }"
    ></canvasjs-chart>
  </mat-card-content>
</mat-card>
